.appIcon {
  @apply flex items-center justify-center relative w-9 h-9 text-lg bg-teal-100 rounded-lg grow-0 shrink-0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.appIcon.large {
  @apply w-10 h-10;
}

.appIcon.small {
  @apply w-8 h-8;
}

.appIcon.xs {
  @apply w-3 h-3 text-base;
}

.appIcon.tiny {
  @apply w-6 h-6 text-base;
}

.appIcon.rounded {
  @apply rounded-full;
}

.appIconText {
  @apply z-10 text-white font-bold;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}